.map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .custom-marker-png {
    background-image: url('/src/assets/marker-png.png'); 
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }